<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Application</title>
</head>
<body>

<table>
    <tr>
        <td> <a href="/gocorona/"> HOME </a> </td>
        <td> <a href="/gocorona/getlog/"> LOGIN </a> </td>
        <td> <a href="/gocorona/getreg/"> REGISTER </a> </td>
        <td> <a href="/gocorona/getdel/"> DELETE </a> </td>
        <td> <a href="/gocorona/doshow/"> SHOW </a> </td>
    </tr>
</table>

<h1> HOME PAGE </h1>
<h2> WEL-COME TO THE APPLICATION </h2>

</body>
</html>